
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My ASP.NET Application</title>
</head>
<body style="background:url(../../Resources/export-map-share.png);background-repeat:no-repeat;background-size:80% 80%;background-attachment:fixed; background-position:center; background-color:aliceblue">
    ************************************************************************   Welcome to My ASP.NET Application!!!   ************************************************************************
</body>
</html>
